logs
public_ftp
public_html/stats
nbproject
public_html/stuff.gameslt/Tools/api/templates_c/*.php
public_html/stuff.gameslt/Tools/api/cache/*.php
public_html/wp-content/cache/*
public_html/wp-content/themes/mekdrop.name/npm-debug.log