<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!--suppress HtmlUnknownTarget -->
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" type="image/png" sizes="194x194" href="icons/favicon-194x194.png?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" type="image/png" sizes="192x192" href="icons/android-chrome-192x192.png?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" type="image/ico" href="favicon.ico?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="shortcut icon" type="image/ico" href="favicon.ico?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="manifest" href="icons/site.webmanifest?v=3" />
    <!--suppress HtmlUnknownTarget -->
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg?v=3" color="#2b5797" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="icons/mstile-144x144.png?v=3" />
    <meta name="msapplication-config" content="icons/browserconfig.xml?v=3" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet" />
    <link href="font/custom-icons.css" rel="stylesheet" />
  </head>
  <body class="body--dark">
    <!-- quasar:entry-point -->
  </body>
</html>
