@media screen and (max-width: 767px) {
  .mk-sm-hidden {
    display: none;
  }
  .mk_base, h2 {
    margin-top: 0 !important;
  }
  .mk_base {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  html {
    background-image: url('../images/20210717_125853.jpg');
    background-position: 50% top, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: 0 50%, 0 0;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }  
}

html {
  background-color: var(--surface-f);
}

form {
  display: inline-block;
  margin-bottom: calc(var(--content-padding) / 3);
  margin-right: calc(var(--content-padding) / 3);
}

.mk_block {
  display: block;
}

a {
  text-decoration: none;

  &:hover {
    & .p-chip {
      background-color: var(--surface-a);
    }
  }
}

.mk_base {
  border-radius: var(--border-radius);
  margin-top: var(--content-padding);
  background-color: var(--surface-b);
  //min-height: calc( 100vh - ( var(--content-padding) * 2 ) );
  backdrop-filter: opacity(0.5) blur(10px);
}

.mk_no_selectable {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.vertical-menu {
  .vertical-menu-item {
    background-color: var(--surface-a);

    &:hover {
      background-color: var(--surface-c);
    }

    * {
      color: var(--text-color);
    }
  }
}

header {
  background-color: var(--surface-f);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin-bottom: calc(var(--content-padding) / 2);
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}

h1, h2, h3 {
  color: var(--text-color);
  font-family: var(--font-family);
}

h1 {
  margin: 0;
  vertical-align: middle;
  line-height: 1em;
  padding: var(--content-padding);
}
