// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1D1B24;
$secondary : #7D6F96;
$accent    : #B8B2C3;

$dark      : #1D1B24;
$dark-page : #1D1B24;

$positive  : #7D6F96;
$negative  : #342D5F;
$info      : #8277B2;
$warning   : #433A81;
